<!DOCTYPE html>
<html data-scale="true" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=yes"/>
  <link rel="icon" href="/default.ico" type="image/x-icon">
</head>

<body id='body'>
  <div id="root"></div>
</body>

</html>
<!-- <script src="/js/vconsole.js"></script>
<script>
  var vConsole = new VConsole();
  console.log('Hello world');
</script> -->
  <!-- // window.vConsole = new VCONSOLE(); -->
<!-- <% if(process.env.environment === 'env') { %>
  <script src="/js/previewImage.min.js"></script>
<% } else if(process.env.environment === 'test') {%>
  <script src="<%= context.publicPath %>js/previewImage.min.js"></script>
<% } else { %>
  <script src="<%= context.publicPath %>js/previewImage.min.js"></script>
<%} %> -->
